@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #24093a;
  color: cornsilk;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
button,
input {
  font-family: "Montserrat", sans-serif;
}
button,
input::placeholder {
  letter-spacing: 0.5px;
}
h1 {
  margin-top: 0px;
}
.container {
  padding: 20px;
}
.box {
  box-sizing: border-box;
}
.item {
  min-height: 35px;
  border-radius: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #24093a;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.todo-text {
  font-size: 15px;
  letter-spacing: 0.2px;
  padding-left: 10px;
  width: calc(100% - 60px);
}

ul {
  padding: 0;
}

ul li {
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  border-radius: 2px;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  color: #24093a;
  padding-left: 10px;
  border: 0;
  padding-left: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}

input[type="text"]::placeholder {
  font-weight: 500;
  font-size: 15px;
  color: #24093a;
}

input[type="text"]:focus {
  outline: none;
}

button {
  height: 40px;
  background-color: cornsilk;
  border-radius: 5px;
  border: 0;
  margin-right: 15px;
  cursor: pointer;
  color: #24093a;
  font-weight: 500;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
button:last-child {
  margin-right: 0px;
}
input + button {
  margin-left: 20px;
}
.custom__form {
  display: flex;
  align-items: center;
}

.count {
  font-weight: 600;
  font-size: 18px;
  color: cornsilk;
}

label {
  cursor: pointer;
}
.aktif {
  background-color: rgb(255, 240, 179);
}

svg {
  fill: #24093a;
  margin-right: 10px;
  cursor: pointer;
}

.custom__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  margin-top: 15px;
  width: 100%;
}

.custom__item input {
  letter-spacing: 0.5px;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.custom__button {
  background-color: cornsilk;
  color: #24093a;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.custom__button img {
  padding-right: 10px;
  width: 24px;
}

input[type="checkbox"] {
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  border: 3px solid #1e5180;
}

.button__right {
  display: flex;
  justify-content: center;
}
.custom__button {
  margin-left: 20px;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

.icon + .icon {
  margin-right: 10px;
  margin-left: 10px;
}

.click {
  cursor: pointer;
}

.buttons__left span {
  margin-right: 10px;
  font-weight: 500;
}

.delete__icon {
  margin-right: 10px;
  cursor: pointer;
  z-index: 9999;
}

.custom_icon > div:first-child {
  font-size: 24px;
}
